[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pytest = "==3.9.3"
mock = "*"
pep8 = "==1.7.1"
coverage = "==4.5.3"

[requires]
python_version = "3.7"
